.container {
    display: grid;
    grid-template-columns: 75% 25%;
}

.main-bio {
    grid-column-start: 1;
    grid-column-end: 3;
}

.contact-info {
    grid-column-start: 3;
    grid-column-end: 4;
}